__pycache__
data\internet\Accesos por velocidad.csv
data\internet\Accesos_tecnologia_localidad.csv
data\internet\Internet.xlsx
data\internet\Penetración-poblacion.csv
data\internet\Totales Accesos Por Tecnología.csv
data\internet\Totales Accesos por velocidad.csv
data\internet\Velocidad % por prov.csv