__pycache__
data/Accesos por velocidad.csv
data/Accesos_tecnologia_localidad.csv
data/Internet.xlsx
data/Penetración-poblacion.csv
data/Totales Accesos Por Tecnología.csv
data/Totales Accesos por velocidad.csv
data/Velocidad % por prov.csv